@charset "UTF-8";

:root {
    --corbase: linear-gradient(to bottom, black, blue, darkblue)
}


body {
    background-image: url(../Imagens/background/Apple\ TV\ -\ UEFA\ Champions\ League.png);
    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: black;
    text-align: center;
    text-align: start;
    margin: 20px;
}

.inicio {
    width: 10px;
    height: 10px;
    padding: 50px 50px 50px 50px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.imgFase {
    width: 19%;
    height: auto;

}

.login {
    flex-direction: row;
    display: flexbox;
    justify-content: space-around;
    max-width: 50%;
    max-height: 50%;
}

.tacaLogin {
    max-width: 40%;
    margin-left: 0px;
    position: relative;
}